.backgroundImage {
  width: 768px;
  height: 1024px;
  background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
  text-align:center;
  margin:auto;
  padding:0;
}
.Logo {
  margin-left: 42%;
  margin-top: 0%;
}
.Background {
  width: 100%;
  height: 80%;
}
.Footer {
  width: 834px;
  height: 10%;
  margin-top: 50%;
}
.Donation {
    width: 608px;
    height: 37px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFF;
    margin-left: 19%;
    margin-bottom: 8%;
  
  }
  
  .Rectangle {
  
  height: 145px;
  width: 525px;
  border-radius: 4px;
  background-color: #ff7500;
  margin-left: 23%;
  margin-top: 5%;
  text-align: center;
}
.Price{ 
  color: #FFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  padding-top: 8%;
  margin-left: 0%;
  letter-spacing: 2px;
  text-decoration: none;
} 
  .Logo{
    width: 15vh;
    margin-top: 5%;
    margin-bottom: 8%;
}
.SponsoredBy{
  color: #FFF;
  font-family: Montserrat;
  margin-top: 50%;
  font-size: 20px;
  margin-left: 42%;
  margin-top: 10%;


}
.Wordlogo{
width: 25%;
padding-top: 2%;
margin-left: 34%;
margin-bottom: 6%;

}
.App {
  background: url('') no-repeat;
  background-size: 30px;
  width: 834px;
  height: 268px;

}
